/* Sean Tiner 2025 */
/* Body and HTML clean styling */
body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll; /* Reserves space for scrollbar so the logo doesn't shift on small pages */
    scroll-behavior: smooth;
    scroll-padding-top: 168px;
}
  
/* Highlight Color */
::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(63, 84, 59);
}
  
::selection {
    color: rgb(255, 255, 255);
    background: rgb(63, 84, 59);
}

/* Navbar Start -----------------------------------------------------------------------------------------------------------------*/
.logoContainer {
    z-index: 100;
}

.logoImg {
    width: 250px;
}

@media only screen and (max-width: 300px) {
    .logoImg {
        width: 150px;
    }
}

.topNav {
    position: sticky;
    top: 0;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navHamburger {
    position: absolute;
    bottom: 40px;
    right: 45px;
    width: 50px;
    height: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    z-index: 120;
    padding: 10px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}

.navHamburger:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4efbf;
    transition: .3s;
    z-index: 1;
}

.navHamburger:hover:before {
    top: 0;
}

.navHamburger:hover > .navHamburgerLine {
    background-color: #545454;
}

.navHamburgerLine {
    height: 4px;
    width: 100%;
    background-color: #ffffff; 
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
    z-index: 2;
    transform-origin: center;
}

.navHamburger.active .navHamburgerLine:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.navHamburger.active .navHamburgerLine:nth-child(2) {
    opacity: 0;
}

.navHamburger.active .navHamburgerLine:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}


@media only screen and (max-width: 300px) {
    .navHamburger {
        right: 10px;
    }
}

.navMenu {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 24px;
    transition: all ease-in-out 0.4s;
    width: 100%;
    text-align: center;
    opacity: 0;
    padding-right: 10px;
    background-color: #000000;
}

.showNavMenu {
    display: block;
    top: 110px;
    opacity: 1;
    visibility: visible;
}

.navMenu ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    text-align: end;
}

.navMenu ul li {
    list-style: none;
    display: block;
    padding: 1rem;
}

.navMenuLinkActive a,
.navMenuLink a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-bottom: 3px;
}

.navMenuLinkActive a::before,
.navMenuLink a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #c4efbf;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navMenuLinkActive a::before,
.navMenuLink a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    background-color: #c4efbf;
}
/* Navbar End -----------------------------------------------------------------------------------------------------------------*/

/* Progress bar */
.progress-container {
    width: 100%;
    height: 8px;
    background: #eeeeee;
    position:sticky;
    top: 120px;
    z-index: 5;
}
  
.progress-bar {
    height: 8px;
    background: #8beb80;
    width: 0%;
    z-index: 6;
}
  

/* Side nav -----------------------------------------------------------------------------------------------------------------*/
.sideNav {
    position:fixed;
    z-index: 10;
    top: 35%;
}

.sideNav a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    margin-left: 10px;
    border-radius: 60px;
    text-align: center;
    color: #545454;
    transition: 0.2s;
    border: 2px solid #545454;
    overflow: hidden;
}

.sideNav a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4efbf;
    transition: .3s;
    z-index: 1;
}

.sideNav a:hover:before {
    top: 0;
}

.sideNav img {
    z-index: 2;
    display: flex;
    align-items: center;
    
}

.sideNav a.activeNav:before {
    top: 0;
}

@media only screen and (max-width: 300px) {
    .sideNav {
        display: none;
    }
}
/* Sidenav End -----------------------------------------------------------------------------------------------------------------*/

/* Profile and project content cards ------------------------------------------------------------------------------------------ */
.mainContent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
	overflow-x: hidden;
}

@media only screen and (max-width: 300px) {
    .mainContent {
        width: 90%;
    }
}

.profileContentCard {
    background-image: linear-gradient(to bottom right, #dffbdd, #c4efbf);
    border-radius: 55px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media only screen and (max-width: 1100px) {
    .profileContentCard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.projectContentCard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #545454;
    border-top: 2px solid #545454;
}

@media only screen and (max-width: 1100px) {
    .projectContentCard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.cardContent {
    padding: 30px;
    display: flex; 
    flex-direction: row;
    width: 100%;
}

.cardText {
    display: flex; 
    flex-direction: column;
    color: #545454;
    margin-left: 10px;
    font-size: 18px;
}

.cardText a {
    color: #000000;
    position: relative;
    text-decoration: none;
    
}

.cardText a:hover > .linkArrow {
    transform: translate(5px);
}

.linkArrow {
    transition: 0.2s;
}

.cardText a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.cardText a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    background-color: #3e433d;
}

.cardTextWide {
    display: flex; 
    flex-direction: column;
    color: #ffffff;
    padding: 30px;
    align-items: center;
    font-size: 18px;
}

@media only screen and (max-width: 980px) {
    .cardContent {
        flex-direction: column;
        align-items: center;
    }

    .cardText {
        margin: 0;
    }
}

@media only screen and (max-width: 300px) {
    .cardText {
        font-size: 12px;
    }

     .cardTextWide {
        font-size: 12px;
    }
}
/* Profile and project content cards end ------------------------------------------------------------------------------------------ */

/* Images ----------------------------------------------------------------------*/
.portrait {
    border-radius: 100px;
    max-width: 300px;
    width: 100%;
    max-height: 300px; 
    margin-right: 20px;
}

@media only screen and (max-width: 980px) {
    .portrait {
        margin: 0;
    }
}

.cardImage {
    width: 60%;
    height: auto;  
    margin: 20px;
    object-fit: contain;
}


@media only screen and (max-width: 980px) {
    .cardImage {
        width: 100%;
    }
} 

.cardImageMagnolia {
    max-width: 200px;
    width: 100%;
    height: auto;  
    margin: 20px;
    object-fit: contain;
}

.splashImage {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.splashImageMagnolia {
    width: 20%;
    margin: auto;
    display: block;
}

.imageGrid {
    display: grid;
    /* Set max number of columns to 2 */
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-gap: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

.imageGridMagnolia {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(350px, 450px));
    grid-gap: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

.imageGridMagnolia div {
    border: 1px solid #545454;
}

.gridImgWrapper {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.gridImgWrapper img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1.1s;
}
.gridImgWrapper:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

/* Responsive layout, makes one column when screen is less than 1000px */
@media screen and (max-width: 1000px) {
    .imageGrid img {
        flex: 100%;
        max-width: 100%;
        
    }
    /* Added this to stop clipping */
    .imageGrid {
        grid-template-columns: 1fr; 
    }
       
}

@media screen and (max-width: 1000px) {
    .imageGridMagnolia img {
        flex: 100%;
        max-width: 100%;
        
    }
    .imageGridMagnolia {
        grid-template-columns: 1fr; 
    }
       
}

/* Modal --------------------------------------------*/
.modalColumn {
    float: left;
    width: 25%;
    padding: 5px;
    padding-top: 20px;
    box-sizing: border-box;
}

.demo {
    opacity: 0.6;
    transition: 0.2s;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}
  
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 45px;
    right: 55px;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}

@media only screen and (max-width: 980px) {
    .close {
        top:10px;
        right:25px;
    }
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
    justify-content: center;
    align-items: center;
}
  
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #c4efbf;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 20px 20px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  

/* Images End ----------------------------------------------------------------------------*/

/* Content and contact cards  -----------------------------------------------------------------------------------------------------------------*/
.wideContent {
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headerWithIcon {
    display: flex;
    align-items: center;
}

.contentCardRight {
    background-image: linear-gradient(to bottom right, #dffbdd, #c4efbf);
    border-radius: 55px;
    width: 80%;
    min-height: 45vh;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contentCardLeft {
    background-image: linear-gradient(to bottom right, #dffbdd, #c4efbf);
    border-radius: 55px;
    width: 80%;
    min-height: 45vh;
    margin-left: auto;
    margin-right: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1600px) {
    .contentCardRight {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1600px) {
    .contentCardLeft {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    color: #545454;
    text-align: center;
}

.contactInformationContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}    

.contactContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.contactContentText {
    margin: 0;
}

.contactContentText a {
    color: #545454;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}

.contactContentText a:hover {
    color: #c4efbf;
}

.contactContentText a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #545454;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.contactContentText a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    background-color: #c4efbf;
  }

.twoColumnText {
    display: flex;
}

.twoColumnText p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* Content and contact cards end -----------------------------------------------------------------------------------------------------------------*/

/* Animations -----------------------------------------------------------------------------------------------------------------*/
.animateOnScroll {
	opacity: 0;
	transform: translate(-300px, 0);
	transition: all 1s ease-out;
	transition-delay: 0.2s;
}

.animateOnScrollRight {
    opacity: 0;
	transform: translate(300px, 0);
	transition: all 1s ease-out;
	transition-delay: 0.2s;
}

.animateOnScrollVertical {
    opacity: 0;
	transform: translate(0, -50px);
	transition: all 1s ease-out;
	transition-delay: 0.2s;
}

.animate {
	opacity: 1;
	transform: translate(0, 0);
}

